@font-face {
    font-family: 'dos';
    src: url('/static/font/perfect_dos_vga_437_win-webfont.woff2') format('woff2'),
         url('/static/font/perfect_dos_vga_437_win-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "dos", monospace !important;
    color: white;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5 {
    color: white
}

*:not(p):not(h1):not(h2):not(h3):not(h4):not(h5) {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.main {
    width: calc(100% - 10px);
    min-height: calc(100vh - 10px);
    border: 4px double white;
    margin: 5px;
}

a {
    color: white;
}
a:not(.disabled):hover {
    color: white;
    text-decoration: underline !important;
}
a.disabled:hover {
    cursor: default;
    text-decoration: none;
}

.nav-link {
    font-size: 16px;
}

body {
    background: #111111;
}

.nav-item {
    height: 100%;
}

.white {
    color: #ffffff;
}
.btn {
    background-color: transparent;
    border-radius: 0px !important;
    transition: none;
    margin-top: 10px;
}
.btn.btn-primary {
    border: 2px solid white;
    color: white !important;
}
.btn.btn-primary:hover {
    background: white;
    color: black !important;
}
.btn.btn-danger {
    background: #aa0000;
    border: 2px solid #aa0000;
    color: black !important;
}
.btn.btn-danger:hover {
    background: transparent;
    color: #aa0000 !important;
}  
.btn.btn-success {
    background: #00aa00;
    border: 2px solid #00aa00;
    color: black !important;
}
.btn.btn-success:hover {
    background: transparent;
    color: #00aa00 !important;
}  
.black {
    color: #000;
}
.blue {
    color: #0000aa;
}
.green {
    color: #00aa00;
}
.cyan {
    color: #00aaaa;
}
.red {
    color: #aa0000;
}
.magenta {
    color: #aa00aa;
}
.brown {
    color: #aa5500;
}
.light-gray {
    color: #aaaaaa;
}
.dark-gray {
    color: #555555;
}
.light-blue {
    color: #5555ff;
}
.light-green {
    color: #55ff55;
}
.light-cyan {
    color: #55ffff;
}
.light-red {
    color: #ff5555;
}
.light-magenta {
    color: #ff55ff;
}
.yellow {
    color: #ffff55;
}
.white {
    color: #fff;
}

.tools {
    display: block;
    height: 100%;
}
.item, .color {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid white;
}
.tools .item, .color {
    cursor: pointer;
}
.tools .item.active {
    background: white;
}
.tools .item.active img {
    filter: brightness(0);
}
.item:not(:first-of-type), .color:not(:first-of-type):not(:nth-of-type(9)) {
    margin-top: -1px;
    border-top-width: 1px;
}
.color:not(:first-of-type):not(:nth-of-type(9)).active {
    border-top-width: 5px;
}
.color.color-right {
    margin-left: -1px;
}


#colors {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    width: 104px;
    height: 397px;
    border: 2px solid white;
    padding-left: 1px;
    padding-right: 1px;
}
.color.active {
    border-width: 6px;
}
.color.active:nth-of-type(15), .color.active:nth-of-type(16){
    border-color: black;
}

img.pixel-icon {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

    width: 32px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 50%;
    transform: translateY(-50%);
    

}
input[name="frame"] {
    width: 2em;
    -moz-appearance: textfield;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: 22px;
    text-align: center;
}
input[name="frame"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.boards {
    width: 100%;
    position: relative;
}
#board, #overlayBoard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 2px solid white;
}
#overlayBoard {
    pointer-events: none;
    filter: opacity(0.2);
}

.play-controls {
    margin-right: 0;
}
.play-controls a {
    width: 40px;
    height: 40px;
    margin-top: 0;
}
.play-controls .pixel-icon {
    width: 24px;
    display: block;
    transform: translate(-23%, -29%);
}
input[type="text"],input[type="email"],input[type="password"] {
    color: black;
}
.form {
    max-width: 600px;
}
.form input {
    width: 100%;
    display: block;
}

.animation-entry {
    border: 1px solid white;
}
.title-input {
    font-size: 36px;
    background: transparent;
    border: none;
    outline: none;
    color: white !important;
    width: 100%;
}
.title-input:focus {
    outline: none;
}
.gif {
    width: 125px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    display: block;
    margin: auto;
    margin-top: 15px;
}