{% extends "partial/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h3>Editor</h3>

        <div class="row">
            <div class="col-md-2">

                <div class="tools">

                    <div class="item" id="tool-0">
                        <img class="pixel-icon" src="/static/img/icon_pencil.png">
                    </div>

                    <div class="item" id="tool-1">
                        <img class="pixel-icon" src="/static/img/icon_eraser.png">
                    </div>

                    <div class="item" id="tool-2">
                        <img class="pixel-icon" src="/static/img/icon_paint.png">
                    </div>

                    <div class="item" id="tool-3">
                        <img class="pixel-icon" src="/static/img/icon_undo.png">
                    </div>

                    <div class="item" id="tool-4">
                        <img class="pixel-icon" src="/static/img/icon_redo.png">
                    </div>

                    <div class="item" id="tool-5">
                        <img class="pixel-icon" src="/static/img/icon_x.png">
                    </div>

                    <a class="btn btn-primary">New Frame</a>
                    <a class="btn btn-primary">Insert Frame</a>
                    <a class="btn btn-danger">Delete Frame</a>

                </div>

            </div>
            <div class="col-md-8">
                <canvas id="board">
            </div>
            <div class="col-md-2">
                <div id="colors">

                </div>
            </div>
        

        </canvas>


    </div>

{% endblock %}

{% block customscripts %}

<script src="/static/js/editor.js"></script>


{% endblock %}