{% extends "partial/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <input name="title" type="text" id="title" class="title-input" placeholder="Click to name">

        <div class="row">
            <div class="col-md-2">

                <div class="tools">

                    <div class="item" id="tool-0">
                        <img class="pixel-icon" src="/static/img/icon_pencil.png">
                    </div>

                    <div class="item" id="tool-1">
                        <img class="pixel-icon" src="/static/img/icon_eraser.png">
                    </div>

                    <div class="item" id="tool-2">
                        <img class="pixel-icon" src="/static/img/icon_paint.png">
                    </div>

                    <div class="item" id="tool-3">
                        <img class="pixel-icon" src="/static/img/icon_undo.png">
                    </div>

                    <div class="item" id="tool-4">
                        <img class="pixel-icon" src="/static/img/icon_redo.png">
                    </div>

                    <div class="item" id="tool-5">
                        <img class="pixel-icon" src="/static/img/icon_x.png">
                    </div>
                    <br>
                    <h5>Frame Controls</h5>

                    <div class="play-controls">

                        <a class="btn btn-primary" id="play"><img class="pixel-icon" src="/static/img/icon_play.png"></a>
                        <a class="btn btn-primary" id="pause"><img class="pixel-icon" src="/static/img/icon_pause.png"></a>
                        <a class="btn btn-danger" id="stop"><img class="pixel-icon" src="/static/img/icon_stop.png"></a>
    
                    </div>

                    <a id="decrease" class="btn btn-primary">&lt;</a>
                    <input class="frame" type="number" id="frame" name="frame" value=1 readonly>
                    <a id="increase" class="btn btn-primary">&gt;</a>

                    

                    <div class="form-check mt-2">
                        <input type="checkbox" class="form-check-input" id="showOverlay" name="showOverlay" checked>
                        <label class="form-check-label" for="showOverlay">Show Overlay</label>
                    </div>

                    <a id="newFrame" class="btn btn-primary">New Frame</a>
                    <a id="deleteFrame" class="btn btn-danger">Delete Frame</a>
                    
                    <a id="save" class="mt-4 btn btn-success">Save Animation</a>

                </div>

            </div>
            <div class="col-md-8">
                
                <div class="boards">
                    <canvas id="board"></canvas>
                    <canvas id="overlayBoard"></canvas>
                    
                </div>
            </div>
            <div class="col-md-2">
                <div id="colors">

                </div>
            </div>
        

        </canvas>


    </div>

{% endblock %}

{% block customscripts %}

<script src="/static/js/Canvas.js"></script>
<script src="/static/js/OverlayCanvas.js"></script>
<script src="/static/js/editor.js"></script>



{% if cloned_id %}
<script>
    var id = {{ cloned_id }};
    // Set the data with the JSON
    $.ajax({
        type: 'GET',
        url: `/view/get/${id}`,
        contentType: "application/json",
        success: function(data){
            data.frames = JSON.parse(data.frames);
            console.log(data);
            board.initialize(data);


        }
    });

    $("#save").click(function(){
        var obj = board.getJson();

        obj.id = {{ cloned_id }}
        {% if remix %}

            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/remix/submit',
                data: JSON.stringify(obj),
                success: function(url){
                    window.location.replace(url);
                }
            });
        {% else %}
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/editor/submit',
                data: JSON.stringify(obj),
                success: function(url){
                    window.location.replace(url);
            }
            
        {% endif %}
    });
});
</script>
{% endif %}

{% endblock %}