{% extends "partial/base.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <img src="/static/img/favicon.png" width=100>
        <h1>5Bit Systems, Inc.</h1>
        <p>5Bit Systems, Incorporated was founded in 1988 by Drew Gifford and Jared Gaylan to create revolutionary tools for personal computer users to enjoy.
            With 5Bit software, you can take advantage of computers to create music, animations, and other forms of media to share on the World Wide Web or with your friends!</p>

        <h5 class="cyan">&copy; 1992 5Bit Systems, Inc.</h5>

    </div>


{% endblock %}