{% extends "partial/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>5Bit Animation Studio</h1>
        <h5 class="cyan">&copy; 1992 FiveBit Systems, Inc.</h5>

        <a class="btn btn-primary" href="/editor">Create an Animation</a>

        
        <div class="row mt-5">
            <h3 class="col-md-12">Recent Animations</h3><br>
            {% for art in arts %}

            <div class="col-md-3 col-sm-6 animation-entry">
                <img class="gif" src='/static/gif/{{ art.id }}.gif'>
                <h5 class="mb-0 mt-3"><a href="/view/{{ art.id }}">{{ art.title }}</a></h5>
                <p class="light-blue mt-0">By {{ art.author }}</p>
            </div>

            {% endfor %}
        </div>
        
    </div>


{% endblock %}