{% extends "partial/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form class="form" method="post">

            <div class="form-group row">

                <label class="col-md-3" for="email">Email Address</label>

                <div class="col-md-9">
                    <input type="email" name="email" id="email">
                    {% if 'email' in error %}
                        <p class="red">{{ error['email'] }}</p>
                    {% endif %}
                </div>

            </div>
            <div class="form-group row">
                <label class="col-md-3" for="password">Password</label>
                
                <div class="col-md-9">
                    <input type="password" name="password" id="password">

                    {% if 'password' in error %}
                        <span class="red">{{ error['password'] }}</span>
                    {% endif %}

                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Log In">



        </form>

    </div>


{% endblock %}