{% extends "partial/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <input name="title" type="text" id="title" class="title-input mb-0" readonly>
        <h5 class="light-blue mt-0">By Toadally</h5>

        <div class="row">
            <div class="col-md-2">
                <h5>Frame Controls</h5>

                <div class="play-controls">

                    <a class="btn btn-primary" id="play"><img class="pixel-icon" src="/static/img/icon_play.png"></a>
                    <a class="btn btn-primary" id="pause"><img class="pixel-icon" src="/static/img/icon_pause.png"></a>
                    <a class="btn btn-danger" id="stop"><img class="pixel-icon" src="/static/img/icon_stop.png"></a>

                </div>

                <a id="decrease" class="btn btn-primary">&lt;</a>
                <input class="frame" type="number" id="frame" name="frame" value=1 readonly>
                <a id="increase" class="btn btn-primary">&gt;</a>
                
                <a href="/editor/{{ art_id }}" class="mt-4 btn btn-success">Remix Animation</a>

            </div>
            <div class="col-md-8">
                
                <div class="boards">
                    <canvas id="board"></canvas>
                    <canvas style='display: none !important' id="overlayBoard"></canvas>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        

        </canvas>


    </div>

{% endblock %}

{% block customscripts %}

<script src="/static/js/Canvas.js"></script>
<script src="/static/js/OverlayCanvas.js"></script>
<script src="/static/js/viewer.js"></script>

<script>
    var id = {{ art_id }};
    // Set the data with the JSON
    $.ajax({
        type: 'GET',
        url: `/view/get/${id}`,
        contentType: "application/json",
        success: function(data){
            data.frames = JSON.parse(data.frames);
            console.log(data);
            board.initialize(data);


        }
    })

</script>


{% endblock %}